{% extends "base.html" %}

{% block functionality %}
    <div class="update_form">
        <form method="POST" action="">
            {{ update_form.attribute_id.label }} {{ update_form.attribute_id }} <br>
            {{ update_form.new_attribute_name.label }} {{ update_form.new_attribute_name }} <br>
            {{ update_form.new_attribute_description.label }} {{ update_form.new_attribute_description }} <br>
            {{ update_form.submit }}
        </form>
    </div>
{% endblock functionality %}
